.Menu-Header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.Menu-Header .Link-Menu-Header {
  color: rgb(236, 236, 236);
  font-size: 20px;
  text-decoration: none;
}

.Header .Menu-Header a {
  margin-left: 40px;
}

.Header .Menu-Header a:first-child {
  margin-left: 0;
}
