html {
  scroll-behavior: smooth;
}

.Home {
  grid-area: main;
  margin: 5px;
}

.Banner-Home .Img-Banner-Home {
  max-width: 100%;
  padding: 0;
}

.About-Us,
.Text,
.Shop-Products,
.Last {
  text-align: center;
}
